# Grupo

| RA | Nome |
| :---------------- | :------: |
| 200109 | Leonardo Dimarchi Souza da Cruz |
| 200359 | Luiz Fernando Toquetto |
| 224072 | Vinícius Martins Granso |

# Dataset

O dataset escolhido foi o [House Sales in King County, USA](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction/data). Ele possui preços de casas a venda entre os anos de 2014 e 2015 em King County nos estados unidos.

Iremos observar as colunas para entender o que cada uma significa, com a ajuda do fórum de discussões do Kaggle para as colunas menos intuitivas.

### Colunas

- **ID**: Identificador da casa
- **Date**: Data da venda
- **Price**: Preço da casa em dólares
- **Bedrooms**: Quantidade de quartos
- **Bathrooms**: Quantidade de banheiros (valores 0.5 significam lavabos)
- **Sqft_living**: Metros quadrados da casa
- **Sqft_lot**: Metros quadrados do lote
- **Floors**: Quantidade de andares da casa
- **Waterfront**: Diz se a casa está a beira-mar (0 e 1)
- **View**: Indica a qualidade da vista da propriedade, de 0 a 4.
- **Condition**: Condição atual da casa, de 1 a 5. Quanto maior, melhor conservada
- **Grade**:  Nota da casa após construção, de 1 a 13. Quanto maior, melhor
- **Sqft_above**: Metros quadrados considerando andares que estão acima do térreo
- **Sqft_basement**: Metros quadrados do porão
- **Yr_built**: Ano de construção
- **Yr_renovated**: Ano da última renovação
- **Zipcode**: CEP
- **Lat**: Latitude
- **Long**: Longitude
- **Sqft_living15**: Média de metros quadrados da casa dos 15 vizinhos mais próximos
- **Sqft_lot15**: Média de metros quadrados do lote dos 15 vizinhos mais próximos

In [7]:
import pandas as pd

dataset = pd.read_csv('kc_house_data.csv', index_col=0)
display(dataset.head())
dataset.describe()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000